---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <!-- <h1 class="post-title" style="font-family:Times New Roman; text-align: center;">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1> -->
          <!-- <h3 class="desc" style="font-family:Times New Roman; text-align: center;">{{ page.subtitle }}</h3> -->
        </header>

        <article>
          {% if page.profile -%}
          <!-- <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}"> -->
            <center>
            <div class="profile"  style="position:relative">
            <!-- <img src="assets/common/me.png" width="100px" > -->
            <!-- {%- if page.profile.address %} -->
            <!-- <div class="address"> -->
              <!-- {{ page.profile.address }} -->
            </div>
            {%- endif %}
          </div>
        </center>

          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
